/* Globale styles her */

html {
  font-family: var(--font-lato);
}

h1,
h2,
h3 {
  font-family: var(--font-cabin);
}

body {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [content] minmax(0, 1200px)
    1fr [full-end];

  header,
  footer,
  main,
  section {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full;
    > :not(&) {
      grid-column: content;
    }
  }
}
