/* Globale styles her */

html {
  font-family: var(--font-lato);
}

h1,
h2,
h3,
summary {
  font-family: var(--font-cabin);
}

h1 {
  font-size: var(--text-size-xxxl);
}

h2 {
  font-size: var(--text-size-xxl);
}

h3 {
  font-size: var(--text-size-xl);
}

h4 {
  font-size: var(--text-size-l);
}

h5 {
  font-size: var(--text-size-m);
  margin: 0;
}

p {
  font-size: var(--text-size-s);
}

body {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1rem, 1fr) [content] minmax(0, 1200px)
    minmax(1rem, 1fr) [full-end];

  header,
  footer,
  main,
  section {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full;
    > :not(&) {
      grid-column: content;
    }
  }
}

@keyframes switch {
  from {
    --sentinel: 0;
  }
  to {
    --sentinel: 1;
  }
}

@property --animatedNumber {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
