:root {
  /* ==== Colors ==== */
  /* PRIMITIVES */
  --color-yellow-500: #ffcc4a;
  --color-green-400: #a4eda4;
  --color-neutrals-50: #f9fafb;
  --color-neutrals-200: #eaedf1;
  --color-neutrals-900: #030712;
  --color-neutrals-700: #5a606f;
  --color-blue-700: #101828;
  --color-blue-700-transparent: rgba(16 24 40 / 0.9);
  --color-green-600: #4bb84b;
  --color-neutrals-100: #f9fafb;
  --color-neutrals-400: #99a1af;
  --color-yellow-600: #fbc336;

  /* TOKENS */
  --color-action: var(--color-yellow-500);
  --color-text: var(--color-neutrals-900);
  --color-text-muted: var(--color-neutrals-700);
  --color-surface-primary: #ffffff;
  --color-surface-secondary: var(--color-neutrals-50);
  --color-surface-tertiary: var(--color-neutrals-200);
  --color-surface-elevated: var(--color-blue-700);
  --color-surface-elevated-transparent: var(--color-blue-700-transparent);
  --color-ui-secondary: var(--color-green-400);
  --color-ui-secondary-alternative: var(--color-green-600);
  --color-on-surface-elevated: var(--color-neutrals-50);
  --color-ui-primary: var(--color-neutrals-900);
  --color-on-ui-primary: var(--color-neutrals-50);
  --color-text-weak: var(--color-neutrals-400);
  --color-surface-highlight: var(--color-yellow-600);
  --color-on-ui-primary-muted: var(--color-neutrals-400);

  /* ==== Spacing ==== */
  /* PRIMITIVES */
  --space-0: 0;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.5rem;
  --space-6: 2rem;
  --space-7: 3rem;
  --space-8: 4rem;
  --space-9: 6rem;
  --space-10: 8rem;

  /* TOKENS */
  --space-inline-tight: var(--space-2);
  --space-stack-s: var(--space-3);
  --space-stack-m: var(--space-5);
  --space-card-padding: var(--space-5);
  --space-button-padding-block: var(--space-3);
  --space-button-padding-inline: var(--space-6);
  --space-section: var(--space-9);
  --space-gutter: var(--space-5);

  /* ==== Typography ==== */
  --text-size-xs: 0.9rem;
  --text-size-s: 1rem;
  --text-size-m: 1.5rem;
  --text-size-l: 2rem;
  --text-size-xl: 2.5rem;
  --text-size-xxl: 2.8rem;
  --text-size-xxxl: 3rem;

  --text-xtra-light: 400;
  --text-light: 500;
  --text-medium: 600;
  --text-bold: 700;
  --text-xtra-bold: 800;

  /* ==== Border Radii ==== */
  --border-popover-button: 999px;
  --border-button: 42px;
  --border-img: 30px;
  --border-card-faq: 30px;
  --border-card-live-preview: 30px;
  --border-card: 20px;
  --border-graphic: 20px;
}
